.homeContent{
    background-color: whitesmoke;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*Hide Scroll bar but keep functionality*/
/* Hide scrollbar for Chrome, Safari and Opera */
.homeContent::-webkit-scrollbar{
    display: none;
}
.homeContent{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.homeContent .homeProductDiv{
    width: 12rem;
    height: 20rem;
    margin: 0.5rem;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform: scale(1) perspective(1000px);
}
.homeContent .homeProductDiv .homeProductDivInner{
    width: 9rem;
    height: 9rem;
    background-color: lightgray;
    opacity: 0.5;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: transform 0.5s;
    transform: scale(1) perspective(1000px);
}
.homeContent .homeProductDiv:hover{

    transform: scale(1.1) perspective(1000px);
    /*
    -ms-transform: scale(1.1); /* IE 9 
    -webkit-transform: scale(1.1); /* Safari and Chrome 
    -o-transform: scale(1.1); /* Opera 
    -moz-transform: scale(1.1); /* Firefox 
    */
    z-index: 1;
    cursor: pointer;
}
.homeContent .homeProductDiv:hover .homeProductDivInner{
    background-color: white;
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1) perspective(1000px);
}
.homeContent .homeJackenDiv{
    background-image: url("../images/jacke05.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.homeContent .homeHamdenDiv{
    background-image: url("../images/hemd01.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.homeContent .homeHosenDiv{
    background-image: url("../images/hose03.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.homeContent .homeSchuheDiv{
    background-image: url("../images/schuh01.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.homeContent .homeHüteDiv{
    background-image: url("../images/hut01.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
